{% extends 'base.html' %}
{% block content %}


<h1>About Farmer's Market Finder</h1>
        <h2> Farmer's Market Finder is a way to connect with local vendors</h2>
        <h3> Started in 2022, Finder's Market was created as a place for vendors to put their shop information connected to the Farmer's Markets they attend. We create a space for vendors to connect with other markets and vendors and for users to see all of the Markets and Vendors in their area. </h3>
        <br>
        <h3> Reach out to us if you have a market or vendor you want to add to our site! </h3>
        <textarea placeholder="Tell us about your shop or market!">  </textarea> <button> Send Email</button>


{% endblock %}

